<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Broker Toolkit</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Community Broker Network</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Stuff 1</a>
            <a class="p-2 text-dark" href="#">Stuff 2</a>
            <a class="p-2 text-dark" href="#">Stuff 3</a>
            <a class="p-2 text-dark" href="#">Stuff 4</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Something</a>
    </div>

    <div class="toolkit-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Broker Toolkit</h1>
        <p class="lead">Welcome to Community Broker Network's Broker Toolkit</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 py-2">
                <div class="card h-100 border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Broker Toolkit</h3>
                        <p class="card-text">Click here to access broking practice advice, broking documents and products......</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2">
                <div class="card h-100 border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Compliance</h3>
                        <p class="card-text">Click here to access Operations Manual,......</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2">
                <div class="card h-100 border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Broker Services</h3>
                        <p class="card-text">Click here to find out about the services provided by our Broker Services team.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2">
                <div class="card h-100 border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Primary</h3>
                        <p class="card-text">CBN Academy once this concept is more developed</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2">
                <div class="card h-100 border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Primary</h3>
                        <p class="card-text">Click here to access......</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

</html>